name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Hello and thank you for opening an issue. We'll look into it as soon as possible."
        pr-message: "Hello and thank you for opening a pull request. We'll review it and make a decision as soon as possible."
